info/info.json
{
  "name": "vektör",
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Sıkça sorulan sorular, sistem kuralları, platform hakkında bilgi için bunu çağır.",
        "pineconeIndex": {
          "__rl": true,
          "value": "deneme",
          "mode": "list",
          "cachedResultName": "deneme"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        -64
      ],
      "id": "9ed51682-c87d-4d4d-a634-8c6fecd6971b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {}
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Sen sistem için bir müşteri hizmetleri yapay zekasısın bir dil öğrenim platformunda,sorular bir dil öğrenme platformuna göre düşün,sana tool olarak verdiğim pinecode vector storeu kullan. Şube, kurs bilgilerini öğrenmek istediğinde MCP client node ile 'search tool' kullan."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        112,
        -336
      ],
      "id": "398e1623-44c2-46b7-97a0-a9befc5ca428",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        -336
      ],
      "id": "bdb25410-db08-4452-957c-b762d70e1a76",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        -112
      ],
      "id": "8c23cebd-9144-4dcd-87a1-3435afd95bbb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {}
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        144
      ],
      "id": "d7ee2391-cedc-4d0b-ab9d-85171eb4a584",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {}
      }
    },
    {
      "parameters": {
        "sseEndpoint": "http://host.docker.internal:3001/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        560,
        -112
      ],
      "id": "96dd8d09-2bed-4332-a773-e09561ab7e9f",
      "name": "MCP Client"
    }
  ],
  "pinData": {},
  "connections": {
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c42724d-c399-4150-aee5-8f999128f672",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bdbd503bf2ea6de4127f6761775c6ffca2c47f025342565df571aa76179d413"
  },
  "id": "Gw2342hje2yImicf",
  "tags": []
}